@model int
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Количество заявок</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Количество заявок: @Model
            </th>
            <th></th>
        </tr>
    </table>
</body>
</html>
